<div class="panel panel-default">
	<div class="panel-heading">
	</div>

	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th><%= sort_link(@q, :created_at, Bidding.human_attribute_name("created_at")) %></th>
						<th><%= sort_link(@q, :date, Bidding.human_attribute_name("date")) %></th>
						<th><%= sort_link(@q, :organ, Bidding.human_attribute_name("organ")) %></th>
						<th><%= sort_link(@q, :modality, Bidding.human_attribute_name("modality")) %></th>
						<th><%= sort_link(@q, :object, Bidding.human_attribute_name("object")) %></th>
						<th><%= sort_link(@q, :value, Bidding.human_attribute_name("value")) %></th>
						<th><%= sort_link(@q, :inspection, Bidding.human_attribute_name("inspection")) %></th>
						<th><%= sort_link(@q, :budge, Bidding.human_attribute_name("budge")) %></th>
						<th><%= sort_link(@q, :remark, Bidding.human_attribute_name("remark")) %></th>
						<th colspan="2"></th>
					</tr>
				</thead>

				<tbody>
					<% @biddings.each do |bidding| %>
						<tr>
							<td><%= l bidding.created_at %></td>
							<td><%= l bidding.date %></td>
							<td><%= bidding.organ %></td>
							<td><%= bidding.modality %></td>
							<td><%= bidding.object %></td>
							<td><%= number_with_precision(bidding.value, :precision => 2) %></td>
							<td><%= bidding.inspection %></td>
							<td><%= bidding.budge %></td>
							<td><%= bidding.remark %></td>
							<td><%= link_to edit_bidding_path(bidding), class: "btn btn-outline btn-warning" do %>
								<i class="fa fa-edit"></i><% end %>
							</td>
							
							<td><%= link_to bidding_path(bidding), class: 'btn btn-outline btn-danger', method: :delete, data: { confirm: 'Ao confirmar esta operação será perdido definitivamente os dados desta licitação. Tem certeza que deseja fazer isto?' } do %>
								<i class="fa fa-times"></i><% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
