<div class="panel panel-default">
	<div class="panel-heading">	
		<%= link_to prospection_path(format: :csv), class: 'btn btn-link' do %>
      <i class="fa fa-download"></i> Exportar para Planilha
    <% end %>
	</div>

	<div class="panel-body">
		<div class="tableFixHead">
			<table class="table table-hover">
				<thead>
					<tr>
						<th><%= sort_link(@q, :created_at, Bidding.human_attribute_name("created_at")) %></th>
						<th><%= sort_link(@q, :date, Bidding.human_attribute_name("date")) %></th>
						<th><%= sort_link(@q, :organ, Bidding.human_attribute_name("organ")) %></th>
						<th><%= sort_link(@q, :modality, Bidding.human_attribute_name("modality")) %></th>
						<th><%= sort_link(@q, :object, Bidding.human_attribute_name("object")) %></th>
						<th><%= sort_link(@q, :value, Bidding.human_attribute_name("value")) %></th>
						<th><%= sort_link(@q, :remark, Bidding.human_attribute_name("remark")) %></th>
						<th><%= sort_link(@q, :status, Bidding.human_attribute_name("status")) %></th>
						<th><%= sort_link(@q, :kind_of_service_name, Bidding.human_attribute_name("kind_of_service")) %></th>
						<th colspan="2"></th>
					</tr>
				</thead>

				<tbody>
					<% @biddings.each do |bidding| %>
						<tr>
							<td><%= bidding.created_at.strftime("%d/%m/%Y") %></td>
							<td><%= l bidding.date %></td>
							<td><%= bidding.organ %></td>
							
							<% if bidding.website.blank? %>
								<td><%= bidding.modality %></td>
							<% else %>
								<td><a href="<%= bidding.website %>" target="_blank"><b><u><%= bidding.modality %></b></u></a></td>
							<% end %>
							
							<td><%= bidding.object %></td>
							
							<!--<td><%= number_with_precision(bidding.value, :precision => 2) %></td>-->
							<td><%= bidding.value_abbr %></td>
							
							<td><%= bidding.remark %></td>
							<td><%= t("enums.biddings.status.#{bidding.status}") if bidding.status.present? %></td>
							
							<td><%= bidding.kind_of_service.name %></td>
							
							
							<td><%= link_to edit_bidding_path(bidding, :startPage => "prop", q:{:created_at_eq => @created_at_eq, :organ_cont => @organ_cont, :date_gteq => @date_gteq, :date_lteq => @date_lteq, :kind_of_service_id_eq => @kind_of_service_id_eq, :status_eq => @status_eq}), class: "btn btn-outline btn-warning" do %>
								<i class="fa fa-edit"></i><% end %>
							</td>
							
							
							<% if bidding.status == "registered" %>
								<td><%= link_to check_bidding_path(bidding, :startPage => "prop", q:{:created_at_eq => @created_at_eq, :organ_cont => @organ_cont, :date_gteq => @date_gteq, :date_lteq => @date_lteq, :kind_of_service_id_eq => @kind_of_service_id_eq, :status_eq => @status_eq}), class: 'btn btn-outline btn-success' do %>
									<i class="fa fa-check"></i><% end %>
								</td>
							<% end %>
							
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
