<%= search_form_for @q, url: certificates_path do |f| %>
	<div class="row">
		<div class="col-lg-2">
			<strong>Número: </strong>
			<%= f.text_field :number_eq, { class: 'form-control' } %>
		</div>

		<div class="col-lg-2">
			<strong>Engenheiro: </strong>

			 <%= select_tag 'q[responsible_enginner_cont]',
              options_from_collection_for_select(@responsible_enginner_list, 'responsible_enginner', 'responsible_enginner', selected: params[:q].present? ? params[:q][:responsible_enginner_cont] : nil),
              include_blank: 'Selecione uma opção', class: "form-control"
	  %>
		</div>

		<div class="col-lg-2">
			<strong>Empresa: </strong>

			<%= select_tag 'q[company_name_cont]',
              options_from_collection_for_select(@company_list, 'company_name', 'company_name', selected: params[:q].present? ? params[:q][:company_name_cont] : nil),
              include_blank: 'Selecione uma opção', class: "form-control"
	  %>
			
		</div>
		<div class="col-lg-2">
			<strong>Descrição: </strong>
			<%= f.text_field :description_cont, { class: 'form-control' } %>
		</div>
		
		<div class="col-lg-2">
			<strong>Tipo de Serviço: </strong>

			<%= select_tag 'q[kind_of_service_id_eq]',
              options_from_collection_for_select(@list_kind_of_services, 'id', 'name', selected: params[:q].present? ? params[:q][:kind_of_service_id_eq] : nil),
              include_blank: 'Selecione uma opção', class: "form-control"
			%>
		
		</div>
		
		<div class="col-sm-12 col-lg-2">
			<br>
			<%= f.submit 'Filtro', class: 'btn btn-info' %>
			<%= button_tag 'Limpar', type: 'submit', name: 'cancel', value: true, class: 'btn btn-default' %>
		</div>
	</div>
<% end %>
		
