<div class="panel panel-default">
	<div class="panel-heading"> 
		<%= link_to biddings_path(format: :csv), class: 'btn btn-link' do %>
			<i class="fa fa-download"></i> Exportar para Planilha
		<% end %> 
	</div>

	<div class="panel-body">
		<div class="tableFixHead">
			<table class="table table-hover">
				<thead>
					<tr>
						<th><%= sort_link(@q, :date, Bidding.human_attribute_name("date")) %></th>
						<th><%= sort_link(@q, :organ, Bidding.human_attribute_name("organ")) %></th>
						<th><%= sort_link(@q, :modality, Bidding.human_attribute_name("modality")) %></th>
						<th><%= sort_link(@q, :object, Bidding.human_attribute_name("object")) %></th>
						<th><%= sort_link(@q, :value, Bidding.human_attribute_name("value")) %></th>
						<th style="text-align:center;vertical-align: middle;"><%= sort_link(@q, :inspection, Bidding.human_attribute_name("inspection") + "\n" + Bidding.human_attribute_name("budge")) %></th>
						<th><%= sort_link(@q, :company_name, Bidding.human_attribute_name("company")) %></th>
						<th><%= sort_link(@q, :status, Bidding.human_attribute_name("status")) %></th>
						<th colspan="2"></th>
					</tr>
				</thead>

				<tbody>
					<% @biddings.each do |bidding| %>
					

						 <% if Bidding.has_certificates[bidding.has_certificate] == 1 %>
							<tr style="color: red;">
                         <% elsif Bidding.has_certificates[bidding.has_certificate] == 2 %>
							<tr style="color: blue;">
						 <% else %>
							<tr>		
						 <% end %>
						 
							<td><%= l bidding.date %></td>
							<td><%= bidding.organ %></td>
							
							<% if bidding.website.blank? %>
								<td><%= bidding.modality %></td>
							<% else %>
								<td><a href="<%= bidding.website %>" target="_blank"><b><u><%= bidding.modality %></b></u></a></td>
							<% end %>
							
							<td><%= bidding.object %></td>
							
							<!--<td><%= number_with_precision(bidding.value, :precision => 2) %></td>-->
							<td><%= bidding.value_abbr %></td>
							
							<td><%= bidding.inspection + "\n/" + bidding.budge %></td>
							
							<% if bidding.company_id == 1 %>
								<td style="text-align:center;vertical-align: middle;"></td>
							<% else %>
								<td style="text-align:center;vertical-align: middle;"><%= link_to image_tag(bidding.company.image_file_name, size: "50x50") %></td>
							<% end %>
							
							<td><%= t("enums.biddings.status.#{bidding.status}") if bidding.status.present? %></td>
							<% if current_user.profile_id != 1 %>
								<td><%= link_to edit_bidding_path(bidding, :startPage => "bidd", q:{:organ_cont => @organ_cont, :date_gteq => @date_gteq, :date_lteq => @date_lteq, :kind_of_service_id_eq => @kind_of_service_id_eq, :company_id_eq => @company_id_eq, :status_eq => @status_eq}), class: "btn btn-outline btn-warning" do %>
									<i class="fa fa-edit"></i><% end %>
								</td>
							<% end %>

							
							<td><%= link_to bidding_path(bidding, :startPage => "bidd", q:{:organ_cont => @organ_cont, :date_gteq => @date_gteq, :date_lteq => @date_lteq, :kind_of_service_id_eq => @kind_of_service_id_eq, :company_id_eq => @company_id_eq, :status_eq => @status_eq}), class: "btn btn-outline btn-info" do %>
								<i class="fa fa-eye"></i></i><% end %>
							</td>
							
							
							
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
