<%= form_with(model: bidding, local: true) do |form| %>
  <% if bidding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bidding.errors.count, "error") %> prohibited this bidding from being saved:</h2>

      <ul>
      <% bidding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-body">
      <div class="form-row">
        <div class="col-lg-6">
          <%= form.label :date %>
          <%= form.text_field :date , class: 'form-control', required: true %>
        </div>
        <div class="col-lg-6">
          <%= form.label :organ %>
          <%= form.text_field :organ, class: 'form-control', required: true %><br>
        </div>
      </div>

      <div class="form-row">
        <div class="col-lg-6">
          <%= form.label :modality %>
          <%= form.text_field :modality, class: 'form-control', required: true  %>
        </div>
        <div class="col-lg-6">
          <%= form.label :object %>
          <%= form.text_field :object, class: 'form-control', required: true  %>
        </div>

        <div class="form-row">
        <div class="col-lg-6">
          <%= form.label :value %>
          <%= form.text_field :value, class: 'form-control', required: true  %>
        </div>
        <div class="col-lg-6">
          <%= form.label :inspection %>
          <%= form.text_field :inspection, class: 'form-control', required: true  %>
        </div>

        <div class="form-row">
        <div class="col-lg-6">
          <%= form.label :budge %>
          <%= form.text_field :budge, class: 'form-control', required: true %>
        </div>
        <div class="col-lg-6">
          <%= form.label :status %>
          <%= form.text_field :status, class: 'form-control', required: true %><br>
        </div>

        <div class="form-row">
        <div class="col-lg-6">
          <%= form.label :remark %>
          <%= form.text_area :remark, class: 'form-control', required: true  %>
        </div>

  

  <div class="actions">
<button type="button" class="btn btn-primary btn-lg"><%= form.submit %></button>
  </div>
  <% end %>