<div class="col-lg-12">
  <h1 class="page-header">Listagem de Licitações</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Licitações
        <%= link_to "Cadastrar", new_bidding_path,  class: "btn btn-outline btn-success pull-right", style: "margin-top: -5px" %>
      </h4>
    </div>
    <br/>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
          <th><%= Bidding.human_attribute_name("date") %></th>
				  <th><%= Bidding.human_attribute_name("organ") %></th>
				  <th><%= Bidding.human_attribute_name("modality") %></th>
				  <th><%= Bidding.human_attribute_name("object") %></th>
				  <td><%= number_with_precision(bidding.value, :precision => 2) %></td>
				  <th><%= Bidding.human_attribute_name("inspection") %></th>
				  <th><%= Bidding.human_attribute_name("budge") %></th>
				  <th><%= Bidding.human_attribute_name("remark") %></th>
				  <th><%= Bidding.human_attribute_name("status") %></th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
          	<% @biddings.each do |bidding| %>
              <tr>
          <td><%= l bidding.date %></td>
					<td><%= bidding.organ %></td>
					<td><%= bidding.modality %></td>
					<td><%= bidding.object %></td>
					<td><%= bidding.value %></td>
					<td><%= bidding.inspection %></td>
					<td><%= bidding.budge %></td>
					<td><%= bidding.remark %></td>
					<td><%= bidding.status %></td>
					<td><%= link_to edit_bidding_path(bidding), class: "btn btn-outline btn-warning" do %>
                      <i class="fa fa-edit"></i><% end %>
                    </td>

					<td><%= link_to bidding_path(bidding), class: 'btn btn-outline btn-danger', method: :delete, data: { confirm: 'Ao confirmar esta operação será perdido definitivamente os dados desta licitação. Tem certeza que deseja fazer isto?' } do %>
                        <i class="fa fa-times"></i>
                    <% end %>
                    </td>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


