<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @certificate.number %>
</p>

<p>
  <strong>Value:</strong>
  <%= @certificate.value %>
</p>

<p>
  <strong>Object:</strong>
  <%= @certificate.object %>
</p>

<p>
  <strong>Responsible enginner:</strong>
  <%= @certificate.responsible_enginner %>
</p>

<p>
  <strong>Work site:</strong>
  <%= @certificate.work_site %>
</p>

<p>
  <strong>Year:</strong>
  <%= @certificate.year %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @certificate.deadline %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @certificate.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @certificate.end_date %>
</p>

<p>
  <strong>Book:</strong>
  <%= @certificate.book %>
</p>

<p>
  <strong>Item:</strong>
  <%= @certificate.item %>
</p>

<p>
  <strong>Description:</strong>
  <%= @certificate.description %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @certificate.unit %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @certificate.quantity %>
</p>

<p>
  <strong>Kind of service:</strong>
  <%= @certificate.kind_of_service %>
</p>

<p>
  <strong>Path file:</strong>
  <%= @certificate.path_file %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @certificate.company_name %>
</p>

<%= link_to 'Edit', edit_certificate_path(@certificate) %> |
<%= link_to 'Back', certificates_path %>
