<p id="notice"><%= notice %></p>

<h1>Kind Of Services</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kind_of_services.each do |kind_of_service| %>
      <tr>
        <td><%= kind_of_service.name %></td>
        <td><%= link_to 'Show', kind_of_service %></td>
        <td><%= link_to 'Edit', edit_kind_of_service_path(kind_of_service) %></td>
        <td><%= link_to 'Destroy', kind_of_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kind Of Service', new_kind_of_service_path %>
