
<!DOCTYPE html>
<html>

<head>
    <title>PrizmaTech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
               <%= link_to "PROSPECÇÃO", prospection_path, class:"navbar-brand" %> 
			   <%= link_to "LICITAÇÕES", biddings_path, class:"navbar-brand" %>
			   <%= link_to "ATESTADOS", certificates_path, class:"navbar-brand" %>
            </div>
            <!-- /.navbar-header -->
		</nav>

        <%= yield %>
	
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

</body>

</html>
