
<!DOCTYPE html>
<html>

<head>
    <title>PrizmaTech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<style>
.tableFixHead { 
	overflow-y: auto;
	height: 500px; 
}
.tableFixHead thead th { 
	position: sticky; 
	top: 0; 
}

/* Just common table stuff. Really. */
table { 
	border-collapse: collapse; 
	width: 100%; 
}

th, td { 
	padding: 8px 16px; 
}

th { 
	background:#eee; 
}

</style>
</head>

<body>


        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" style="vertical-align: middle;">
				<%= image_tag('logo.png', style:"float:left", size: "50x50") %>
				<%= link_to "PROSPECÇÃO", prospection_path , class:"navbar-brand" %> 
				<%= link_to "MAPA DE LICITAÇÃO", biddings_path, class:"navbar-brand" %>
				<%= link_to "ATESTADOS", certificates_path, class:"navbar-brand" %>
            </div>
            <!-- /.navbar-header -->
    </nav>

        <%= yield %>
  
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

</body>

</html>